/*     ___   _____      ___    _________  _________   ______      ___     _    _   ____
 *    / __| | ___  \   /   \   |__    __| |__    __| |  __   \   / _ \   | |  | | |  _  \
 *   / /    | |__| |  / _   \     |  |       |  |    | |__|  |  / / \ \  | |  | | | |_|  |
 *   \ \    |  ___ / |  | |  |    |  |       |  |    |    __/  | |   | | | |  | | |  ___/
 *    \ \   | |      |  | |  |    |  |       |  |    | |\ \    | |   | | | |  | | | |
 *     \ \  | |      |  |_|  |    |  |       |  |    | | \ \   | |   | | | |  | | | |
 *   __/ /  | |       \     /     |  |       |  |    | |  \ \   \ \_/  /  \ \_/ / | |
 *  |___/   |_|        \___/      |__|       |__|    |_|   \_\   \___/     \___/  |_|
 *  ---------------------------------------------------------------------------------------
 *      Parkingspace sharing for everyone -- CO² reduction -- eastsee cleaning 
 * ----------------------------------------------------------------------------------------
 */
 
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#673ab8">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="OHIOH-Research">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="msapplication-TileImage" content="/assets/icon/mstile-150x150.png">
		<meta name="msapplication-TileColor" content="#673ab8">
		<link rel="manifest" href="manifest.json" data-pwa-version="1.0.1">
		<link rel="stylesheet" type="text/css" href="style/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style/index.css">
		<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style/css/bootstrap4-toggle.min.css">
		<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min-all.css">		
		<% preact.headEnd %>
	</head>
	<body>

		<% preact.bodyEnd %>
	</body>
</html>
